# -----------------------
# Operating System Files
# -----------------------
# macOS
.DS_Store
.AppleDouble
.LSOverride

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Linux
*~

# -----------------------
# Node.js / JavaScript
# -----------------------
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# -----------------------
# Logs
# -----------------------
logs/
*.log

# -----------------------
# Build / Output
# -----------------------
dist/
build/
tmp/
temp/

# -----------------------
# IDE / Editor files
# -----------------------
# VS Code
.vscode/

# JetBrains (WebStorm, IntelliJ)
.idea/

# Sublime Text
*.sublime-project
*.sublime-workspace

# -----------------------
# Misc
# -----------------------
.env
.env.local
.env.*.local

planning/